body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('images/bg.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 15px;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    /* background: rgba(255, 255, 255, 0.123);  */
}

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.961);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

label {
    margin-bottom: 5px;
    
}

input, select {
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #218838;
}

p {
    text-align: center;
}